@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="nav-link text-blue" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        or <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </p>
</div>

<style>
    .shelf {
        height: 75px;
        width: 1300px;
        background-color: #222;
        text-align: center;
        color: #777;
        font-size: 50px;
    }
    
    .book1 {
        background-color: #f5e625;
        color: #B4A921;
        height: 500px;
        width: 110px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 40px;
        padding: 25px;
    }
    .book2 {
        height: 350px;
        width: 80px;
        background-color: #eb6864;
        color: #bc5350;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 15px;
        font-size: 30px;
    }
    .book3 {
        background-color: #369;
        color: #22275786;
        height: 450px;
        width: 120px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 25px;
        font-size: 42px;
    }
    .book4 {
        height: 480px;
        width: 120px;
        background-color: #22b24c;
        color: #188A39;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 35px;
        padding:30px;
    }

    .book5 {
        height: 300px;
        width: 100px;
        background-color: #20c997;
        color: #1B8968;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 30px;
        padding:25px;
    }

    .book6 {
        height: 500px;
        width: 80px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 20px;
        padding: 24px;
        background-color: #eb6864;
        color: #bc5350;
    }
    .book7 {
        height: 400px;
        width: 120px;
        background-color: #369;
        color: #22275786;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 25px;
        font-size: 42px;
    }
    .book8 {
        height: 320px;
        width: 110px;
        background-color: #f5e625;
        color: #B4A921;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 50px;
        padding:20px;
    }
    .book9 {
        background-color: #22b24c;
        color: #188A39;
        height: 450px;
        width: 100px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 20px;
        font-size: 35px;
    }
    .book10 {
        height: 500px;
        width: 120px;
        background-color: #eb6864;
        color: #bc5350;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        font-size: 40px;
        padding: 25px;
    }
    .book11 {
        height: 380px;
        width: 80px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 15px;
        font-size: 30px;
        background-color: #20c997;
        color: #1B8968;
    }
    .book12 {
        background-color: #f5e625;
        color: #B4A921;
        height: 450px;
        width: 100px;
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        margin: auto;
        padding: 20px;
        font-size: 35px;
    }
</style>

<body>
<p> </p>
<div class="book1">CMSC495</div>
<div class="book2">FALL 2022</div>
<div class="book3">William Johnson</div>
<div class="book4">Hello World!</div>
<div class="book5">Matthew Doged</div>
<div class="book6">Current Trends and Projects in Computer Science</div>
<div class="book7">Jack Makers</div>
<div class="book8">UMGC</div>
<div class="book9">Leonie Wile</div>
<div class="book10">Prof. Douglas Mujeye</div>
<div class="book11">Capstone</div>
<div class="book12">Final Project</div>
<div class="shelf">Library Inventory System</div>

</body>