
<p><em><small>Last Updated: 4 December 2022</small></em>.</p>

<p>
    This policy explains which information is collected on Library Inventory System.<br>
    It also has information about how we store, use, transfer, and delete that information.<br>
    By using or accessing our Services, you agree to the collection, storage, use and disclosure of your information as described in this Privacy Policy.<br>
    We value the trust you place in us when you provide us with your personal information. We take your privacy seriously and are committed to protecting it.
</p>

<h4>INFORMATION COLLECTION AND USAGE</h4>

<p>
    We store only your email address, phone number, and login information, which is collected when you initially generate your account.<br>
    We use this information for communicating with you about your account. We may contact you to tell you about changes to this Privacy Policy, our Terms of Use or changes to our Services. We may also tell you about issues with your account.
</p>

<h4>PERSONAL INFORMATION</h4>

<p>
    We collect personal information from users of our Services that identifies you as an individual when it is voluntarily provided by you, such as your and email address and your phone number.<br>
    As this website currently only enables users to view our inventory, but not to book any services or have anything delivered to their 
        homes, we do not currently collect users’ physical addresses or any form of payment information. 
        (If, at a later point in time, we decided to add these functionalities and prompted users to update 
        their individual profiles with any additional information, we would update the Privacy Policy beforehand 
        and ensure to send emails informing all currently registered users about the Policy changes.)<br>
    California residents have the right to request access to or the deletion of their personal information.
</p>

<h4>DATA RETENTION</h4>

<p>
    We only retain your data for as long as your account is active, meaning up until the point in time when you delete 
    your account.
</p>

<h4>COOKIES</h4>

<p>We do not use cookies.</p>

<h4>ADS</h4>

<p>Library Inventory System does not collect money for ads.</p>

<h4>INFORMATION DISCLOSURE</h4>

<p>We do not share information about you with third parties unless required to do so by law. We do not sell, lease, or 
    license your personal information to third parties.</p>

<h4>OTHER NOTES</h4>

<p>
    Our website may contain links to several unaffiliated services that we believe offer useful information. 
    The policies and procedures we describe here do not apply to those websites. We suggest contacting those 
    services directly for information on their privacy policies.
</p>
