@model Inventory

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-white">Add to Inventory</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="BookTitle"></label>
            <input asp-for="BookTitle" class="form-control"/>
            <span asp-validation-for="BookTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AuthorName"></label>
            <input asp-for="AuthorName" class="form-control"/>
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Isbn"></label>
            <input asp-for="Isbn" class="form-control"/>
            <span asp-validation-for="Isbn" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Inventory" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>


</form>